<canvas id="myCanvas" #canvas>

</canvas>
<svg [attr.height]="height" [attr.width]="width" fill="red">
  <circle *ngFor="let tag of tags" (mouseenter)="mouseEnter(tag.id)" (mouseleave)="mouseLeave(tag.id)" [attr.cx]="tag.xPos"
    [attr.cy]="tag.yPos" [attr.r]="tag.stroke" stroke="green" stroke-width="2" [attr.fill]="checkStatus(tag.id)" (click)="detailPage(tag.id)" />
    <path id = "text_path"           
    d = "M 0 50 C {{0.33*innerWidth}} 0, {{.66*innerWidth}} 100, {{1*innerWidth}} 50"
/>
  </svg>

<div id="difke" *ngIf=" show && top && left" (mouseenter)='difEnter()' [style.marginTop.px]="top" [style.marginLeft.px]="left">
  <h3>Short summary</h3>
  <p>
    id:{{id}}<br>
  </p>
</div>
