  canvas {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  svg {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  /*circle:hover{
    fill: red;
    stroke: black;
  }*/

#difke{
    position: relative;
    width: 280px;
    padding: 10px;
    background:gray;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
  }

