<canvas id="myCanvas" #canvas>

</canvas>
<svg [attr.height]="height" [attr.width]="width" fill="red">
  <circle *ngFor="let tag of tags" (mouseenter)="mouseEnter(tag.id)" (mouseleave)="mouseLeave(tag.id)" [attr.cx]="tag.xPos"
    [attr.cy]="tag.yPos" [attr.r]="tag.stroke" stroke="green" stroke-width="2" fill="yellow" />
</svg>

<p>interval voor refresh is {{delay}}</p>
<div class="slidecontainer">
    <label >1</label>
  <input type="range" (input)="rangeChanged($event.target.value)" min="1" max="300" pin="true" value="50" class="slider" id="myRange">
  <label >300</label>
</div>

<div id="difke" *ngIf=" show && top && left" (mouseenter)='difEnter()' [style.marginTop.px]="top" [style.marginLeft.px]="left">
  <h3>Short summary</h3>
  <p>
    id:{{info}}
    info:{{description}}
  </p>
</div>





