<canvas id="myCanvas" #canvas>

</canvas>
<svg [attr.height]="height" [attr.width]="width" fill="red">
        <circle  *ngFor="let tag of tags" (mouseenter)="mouseEnter(tag.id,$event)" (mouseleave)="mouseLeave(tag.id)"
                [attr.cx]="tag.xPos" [attr.cy]="tag.yPos" [attr.r]="tag.stroke" stroke="green" stroke-width="2" fill="yellow" />
</svg>

<div *ngIf="show && top && left"  id="difke" [style.marginTop.px]="top" [style.marginLeft.px]="left">
        <h3>Short summary</h3>
        <p>
          Temperature:{{info}} <br>
          CO: <br>
          Humidity: <br>
        </p>
      </div>

