<mdb-card>
  <mdb-card-header class="primary-color white-text">
    <h4>Featured</h4>
  </mdb-card-header>
  <mdb-card-body>
    <mdb-card-title>Special title treatment</mdb-card-title>
    <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
    <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>Go somewhere</a>
  </mdb-card-body>
</mdb-card>

<button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Primary</button>