<br />
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h1 class="card-title">Add Tag</h1>
    <label>
      Mac Address:
      <input type="text" #titleInput>
    </label>
    <button type="button" class="btn btn-primary" (click)='addTag(titleInput.value)'>Add</button>
  </div>
</div>

<div class="deleteCard">
  <div class="card" style="width: 30rem;">
    <div class="card-body">
      <h1 class="card-title">Delete Tag</h1>
      <label>
        <span *ngFor="let tag of tags">
          <ul class="list-group">
            <a (click)="selectedTag(tag.id)" class="list-group-item">TagId:{{tag.id}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description : {{tag.description}}</a>
          </ul>
        </span>
      </label><br/>

      <button [hidden]=this.hide type="button" class="btn btn-primary" (click)='deleteTagId(this.deleteTag)'>Delete tag {{this.deleteTag}}</button>
    </div>
  </div>
</div>